# Environment files
.env
.env_config
env.example
keyZ.py
keyZII.py

# Python
__pycache__/
*.pyc
venv_clean/
venv_test/
*.log

# Other
*.csv
install_certificates.command

# Additional files to ignore
main3.py
minimal_test.py
python check_tokens.py
replicatorRR.py
tx_builder_old.py
wallet_tx_parserOG.py
wallet_tx_parserRR.py
